<%- include('./partials/header.ejs') %>

      <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>
      <div class="container">

            <i class="fa-solid fa-circle-exclamation fa-10x"></i>
            <h1><%= alert%></h1>



      </div>

      <%- include('./partials/footer.ejs') %>