<%- include('./partials/header.ejs') %>
      <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>



      <h1>Reset Password</h1>

      <form method="POST" class="reset-form">

            <input name="newPassword" type="password" required placeholder="New password" class="input-field">
            <br>
            <input type="submit" value="RESET PASSWORD" class="reset-btn">
      </form>



      <%- include('./partials/footer.ejs') %>