<%- include('./partials/header.ejs') %>


            <div class="container">
                  <h1>ADDED!</h1>

                  <h2 class="productIdH3">
                        <%= product.productId  %>
                  </h2>
                  <br>
<p>copy the code then send it to the client</p>
<p><a href="/admin/add-product">Go back</a></p>
            </div>




            <%- include('./partials/footer.ejs') %>