<%- include('./partials/header.ejs') %>
<script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>



<div class="container">

      <div class="dec">
<h2>Reset your password</h2>
<p>Enter your email</p>
</div>
<form method="POST" class="send-form">

      <input type="email" required placeholder="Email" name="email" class="input-field">
      <br>
      <input type="submit" value="RESET PASSWORD" class="send-btn">
</form>
</div>


<%- include('./partials/footer.ejs') %>