<%- include('./partials/header.ejs') %>

<script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>
<div class="container">

      <i class="fa-solid fa-envelope fa-10x"></i>
<h1>Verify your EMAIL</h1>

      <h3>Hello there, we sent you verification email <br>
            please check your email to verify it!
      </h3>

      <p>after verifing it, go back to the <a href="/login">Login page</a></p>
      
</div>

<%- include('./partials/footer.ejs') %>