<%- include('./partials/header.ejs') %>
<script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>


<div class="container">
      <i class="fa-solid fa-envelope-circle-check fa-10x"></i>
      <h1>Verified success</h1>  
      <a href="/login">Login now!</a>
</div>
  

<%- include('./partials/footer.ejs') %>   