* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Cairo', sans-serif;
}

body {
      background-image: url('/images/MM_BG0.png');
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
}

.container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 15rem;
      padding: 4rem 9rem;
      background-color: rgb(0, 0, 0, 0.1);
      border-radius: 1rem;
      width: 90%;
      border: 1px solid rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;
      display: flex;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.1);
      flex-direction: column;
}

.dec {
      line-height: 35px;
      display: flex;
      width: 100vw;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}


.reset-form .input-field {
      font-size: 25px;
      line-height: 0px;
      text-decoration: none solid rgb(255, 255, 255);
      text-align: center;
      word-spacing: 0px;
      height: 54.973px;
      width: 20rem;
      border: 1px solid #31303E;
      margin: 10px 0 0 0;
      padding: 0;
      min-height: auto;
      background-color: rgb(255, 255, 255, 0.9);
      border-radius: 6px;
      min-width: auto;
}

.reset-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}


.reset-form .input-field:focus {
      outline: solid 2px rgba(81, 220, 0, 0.5);
      box-shadow: 0 2px 5px 1px rgba(81, 220, 0, 0.5);
}


.reset-btn {
      height: 3rem;
      cursor: pointer;
      margin-top: 1rem;
      font-size: 20px;
      padding: 0 1rem;
      background-color: rgba(18, 220, 0, 0.4);
      border: solid 2px rgb(26, 209, 2);
      border-radius: 0.3rem;
      color: #fff;
}