* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Cairo', sans-serif;
}

body {
      background-image: url('/images/MM_BG0.png');
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 100vh;
      padding-top: 3rem;
      color: rgba(255, 255, 255, 0.937);
}

.container
 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
 }

 h1 {
      margin-top: 1rem;
 }

 a {
      color: rgb(102, 102, 255);
 }